*, *:before, *:after{padding: 0; margin: 0; border: 0; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside, section{display: block;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited, a:hover{text-decoration: none;}
ul, ol, li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; font-size: 16px; color:#000}
/*---*/

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
	width: 600px;
	margin: 0 auto;
}

h1{
	margin: 20px;
	font-size: 30px;
	font-weight: 700;
}

.accord:hover .color{
color: #000;
}
.accord:hover .accord__label::after{
	display: block;
}

.accord__item{
	position: relative;
	margin: 0 auto;
	border-top: 1px solid #dbdbdb;
}

.accord__input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.accord__input:checked ~ .accord__label{
	background-color: #eee;
	color: #000;
}
.accord__input:checked ~ .accord__label::after{
	transform: rotate(180deg);
	transition: 0.2s;
}
.accord__input:checked ~ .accord__content{
	display: flex;
	/* transition: width 5s;  */
	margin: 0 auto;
	background-color: #eee;
}
.accord__input:checked ~ .accord__img{
	width: 300px;
	margin: 0 auto;
}

.accord__label{
	display: block;
	position: relative;
	padding: 10px;
	cursor: pointer;
	color: blue;
}
.accord__label::after{
	content: '';
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 20%;
	background-size: contain;
	background-image: url(./assets/svg/211614_down_b_arrow_icon.svg);
}
.accord__label:hover ~ .accord__content{
	display: block;
}

.accord__content{
	display: none;
	margin: 0 auto;
}
.accord__img{
	margin: 0 auto;
	width: 300px;
}
img{
	margin: 0 auto;
	max-width: 300px;
}